a{
  padding-left: 120px;
  text-decoration: none;
}
#navbar a {
  float:right;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: dashed;
  font-size: 17px;
}

#navbar a:hover {
  background-color:yellow;
  color:green;
}

#navbar a.active {
  background-color:black;
  color:cyan;
}
#well{
  background-color:salmon;
text-align: center;
}
h1{
   color:black;
   text-align: center;
}