a{
    color:black;
    text-decoration: none;
  }
  img {
    border-radius: 50%;
  }
  .repos{
  text-align: center;
  padding-left: 500px;
  background-color:salmon;
  
  }
  .card{
    width: 280px;
    height: 200px;
    padding: 40px;
  }
  .card-header{
    background-color: lightgreen;
  
  }
   button{
    width:100px;
    height: 80px;
    margin-top: 20px;
    color: brown;
  }
  
   button:hover{
     background-color:green;
     transition: 0.6s;
     color: black;
   }